@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: bold;
  src: url('../fonts/Roboto-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: medium;
  src: url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}