.info {
  margin-bottom: 168px;

  @media (max-width: 980px) {
    margin-bottom: 70px;
  }

  &__inner {
    border-radius: 4px;
    background-color: #727272;
    padding: 27px 20px 23px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 0;

    @media (max-width: 980px) {
      flex-direction: column;
    }

    &:hover {
      .info__item {
        background-color: #fff;
      }
    }

    &--border {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        border-top: 1px solid #626262;
        border-bottom: 1px solid #828282;
        top: -2px;
        left: 0;

        @media (max-width: 980px) {
          display: none;
        }
      }
    }
  }

  &__item {
    height: 40px;
    width: 100%;
    background-color: #ccc;
    transition: .3s;

    &--border-full {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        border-top: 1px solid #626262;
        border-bottom: 1px solid #828282;
        top: -8px;
        left: 0;

        @media (max-width: 980px) {
          display: none;
        }
      }
    }

    &--border-biger {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 104%;
        border-top: 1px solid #626262;
        border-bottom: 1px solid #828282;
        top: -8px;
        left: -2%;

        @media (max-width: 980px) {
          display: none;
        }
      }
    }
  }
}